<?xml version="1.0" encoding="utf-8"?>
<robot name="Lite3_Simplified_v3">

    <mujoco>
        <compiler balanceinertia="false" discardvisual="false" fusestatic="false"/>
    </mujoco>

    <!-- 全局材质定义 -->
    <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
    </material>
    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <link name="TORSO">
        <inertial>
            <origin xyz="0 0 0"/>
            <mass value="5.6056"/>
            <inertia ixx="0.02456" ixy="0" ixz="0" iyy="0.05518" iyz="0" izz="0.07016"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.35 0.20 0.12"/>
            </geometry>
            <material name="black">
                <color rgba="0.15 0.15 0.15 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <box size="0.5 0.1 0.12"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0 0 0.01"/>
            <geometry>
                <box size="0.25 0.2 0.12"/>
            </geometry>
        </collision>
    </link>

    <link name="FL_HIP">
        <inertial>
            <origin xyz="-0.00601 -0.0066532 0.00034295"/>
            <mass value="0.550"/>
            <inertia ixx="0.0003949" ixy="0" ixz="0" iyy="0.0004028" iyz="0" izz="0.0004472"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.04"/>
            </geometry>
            <material name="white">
                <color rgba="0.9 0.9 0.9 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.05 0" rpy="1.57079632 0 0"/>
            <geometry>
                <cylinder length="0.15" radius="0.04"/>
            </geometry>
        </collision>
    </link>

    <joint name="FR_HipX_joint" type="revolute">
        <origin xyz="0.1745 -0.11 0"/>
        <parent link="TORSO"/>
        <child link="FR_HIP"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.523" upper="0.523" effort="24" velocity="26.2"/>
    </joint>

    <link name="FR_THIGH">
        <inertial>
            <origin xyz="-0.0039245 0.014632 -0.025146"/>
            <mass value="0.86"/>
            <inertia ixx="0.005736" ixy="0" ixz="0" iyy="0.004960" iyz="0" izz="0.001436"/>
        </inertial>
        <visual>
            <origin xyz="0 0 -0.08" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.2" radius="0.022"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="-0.015 0 -0.08" />
            <geometry>
                <box size="0.04 0.045 0.2"/>
            </geometry>
        </collision>
    </link>

    <joint name="FR_HipY_joint" type="revolute">
        <origin xyz="0 0 0"/>
        <parent link="FR_HIP"/>
        <child link="FR_THIGH"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-2.67" upper="0.314" effort="24" velocity="26.2"/>
    </joint>

    <link name="FR_SHANK">
        <inertial>
            <origin xyz="0.0064794 -1.4552E-06 -0.12157"/>
            <mass value="0.153"/>
            <inertia ixx="0.00089039" ixy="0" ixz="0" iyy="0.00090672" iyz="0" izz="3.1266E-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 -0.1" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.2" radius="0.015"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.005 0 -0.03" rpy="0 -0.2 0"/>
            <geometry>
                <cylinder length="0.12" radius="0.015"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.01 0 -0.14" rpy="0 0.15 0"/>
            <geometry>
                <cylinder length="0.10" radius="0.015"/>
            </geometry>
        </collision>
    </link>

    <joint name="FR_Knee_joint" type="revolute">
        <origin xyz="0 0 -0.18"/>
        <parent link="FR_THIGH"/>
        <child link="FR_SHANK"/>
        <axis xyz="0 -1 0"/>
        <limit lower="0.524" upper="2.792" effort="36" velocity="17.3"/>
    </joint>

    <link name="FR_FOOT">
        <inertial>
            <mass value="0.02"/>
            <inertia ixx="1e-06" ixy="0" ixz="0" iyy="1e-06" iyz="0" izz="1e-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.022"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.022"/>
            </geometry>
        </collision>
    </link>

    <joint name="FR_Ankle" type="fixed" dont_collapse="true">
        <parent link="FR_SHANK"/>
        <child link="FR_FOOT"/>
        <origin xyz="0 0 -0.20"/>
    </joint>


    <link name="HL_HIP">
        <inertial>
            <origin xyz="0.010905 -0.012636 0.001051"/>
            <mass value="0.550"/>
            <inertia ixx="0.0003949" ixy="0" ixz="0" iyy="0.0004028" iyz="0" izz="0.0004472"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.04"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0.05 0" rpy="1.57079632 0 0"/>
            <geometry>
                <cylinder length="0.15" radius="0.04"/>
            </geometry>
        </collision>
    </link>

    <joint name="HL_HipX_joint" type="revolute">
        <origin xyz="-0.1745 0.11 0"/>
        <parent link="TORSO"/>
        <child link="HL_HIP"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.523" upper="0.523" effort="24" velocity="26.2"/>
    </joint>

    <link name="HL_THIGH">
        <inertial>
            <origin xyz="-0.0039245 -0.014632 -0.025146"/>
            <mass value="0.86"/>
            <inertia ixx="0.005736" ixy="0" ixz="0" iyy="0.004960" iyz="0" izz="0.001436"/>
        </inertial>
        <visual>
            <origin xyz="0 0 -0.08" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.2" radius="0.022"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="-0.015 0 -0.08" />
            <geometry>
                <box size="0.04 0.045 0.2"/>
            </geometry>
        </collision>
    </link>

    <joint name="HL_HipY_joint" type="revolute">
        <origin xyz="0 0 0"/>
        <parent link="HL_HIP"/>
        <child link="HL_THIGH"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-2.67" upper="0.314" effort="24" velocity="26.2"/>
    </joint>

    <link name="HL_SHANK">
        <inertial>
            <origin xyz="0.0064794 -1.4558E-06 -0.12157"/>
            <mass value="0.153"/>
            <inertia ixx="0.00089039" ixy="0" ixz="0" iyy="0.00090672" iyz="0" izz="3.1266E-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 -0.1" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.2" radius="0.015"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.005 0 -0.03" rpy="0 -0.2 0"/>
            <geometry>
                <cylinder length="0.12" radius="0.015"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.01 0 -0.14" rpy="0 0.15 0"/>
            <geometry>
                <cylinder length="0.10" radius="0.015"/>
            </geometry>
        </collision>
    </link>

    <joint name="HL_Knee_joint" type="revolute">
        <origin xyz="0 0 -0.18"/>
        <parent link="HL_THIGH"/>
        <child link="HL_SHANK"/>
        <axis xyz="0 -1 0"/>
        <limit lower="0.524" upper="2.792" effort="36" velocity="17.3"/>
    </joint>

    <link name="HL_FOOT">
        <inertial>
            <mass value="0.02"/>
            <inertia ixx="1e-06" ixy="0" ixz="0" iyy="1e-06" iyz="0" izz="1e-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.022"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.022"/>
            </geometry>
        </collision>
    </link>

    <joint name="HL_Ankle" type="fixed" dont_collapse="true">
        <parent link="HL_SHANK"/>
        <child link="HL_FOOT"/>
        <origin xyz="0 0 -0.20"/>
    </joint>


    <link name="HR_HIP">
        <inertial>
            <origin xyz="0.010354 0.011423 0.00049498"/>
            <mass value="0.550"/>
            <inertia ixx="0.0004472" ixy="0" ixz="0" iyy="0.0004028" iyz="0" izz="0.0003949"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.04"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 -0.05 0" rpy="1.57079632 0 0"/>
            <geometry>
                <cylinder length="0.15" radius="0.04"/>
            </geometry>
        </collision>
    </link>

    <joint name="HR_HipX_joint" type="revolute">
        <origin xyz="-0.1745 -0.11 0"/>
        <parent link="TORSO"/>
        <child link="HR_HIP"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.523" upper="0.523" effort="24" velocity="26.2"/>
    </joint>

    <link name="HR_THIGH">
        <inertial>
            <origin xyz="-0.0039245 0.014632 -0.025146"/>
            <mass value="0.86"/>
            <inertia ixx="0.005736" ixy="0" ixz="0" iyy="0.004960" iyz="0" izz="0.001436"/>
        </inertial>
        <visual>
            <origin xyz="0 0 -0.08" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.2" radius="0.022"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="-0.015 0 -0.08" />
            <geometry>
                <box size="0.04 0.045 0.2"/>
            </geometry>
        </collision>
    </link>

    <joint name="HR_HipY_joint" type="revolute">
        <origin xyz="0 0 0"/>
        <parent link="HR_HIP"/>
        <child link="HR_THIGH"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-2.67" upper="0.314" effort="24" velocity="26.2"/>
    </joint>

    <link name="HR_SHANK">
        <inertial>
            <origin xyz="0.0064794 -1.4529E-06 -0.12157"/>
            <mass value="0.153"/>
            <inertia ixx="0.00089039" ixy="0" ixz="0" iyy="0.00090672" iyz="0" izz="3.1266E-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 -0.1" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.2" radius="0.015"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.005 0 -0.03" rpy="0 -0.2 0"/>
            <geometry>
                <cylinder length="0.12" radius="0.015"/>
            </geometry>
        </collision>
        <collision>
            <origin xyz="0.01 0 -0.14" rpy="0 0.15 0"/>
            <geometry>
                <cylinder length="0.10" radius="0.015"/>
            </geometry>
        </collision>
    </link>

    <joint name="HR_Knee_joint" type="revolute">
        <origin xyz="0 0 -0.18"/>
        <parent link="HR_THIGH"/>
        <child link="HR_SHANK"/>
        <axis xyz="0 -1 0"/>
        <limit lower="0.524" upper="2.792" effort="36" velocity="17.3"/>
    </joint>

    <link name="HR_FOOT">
        <inertial>
            <mass value="0.02"/>
            <inertia ixx="1e-06" ixy="0" ixz="0" iyy="1e-06" iyz="0" izz="1e-06"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.022"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.022"/>
            </geometry>
        </collision>
    </link>

    <joint name="HR_Ankle" type="fixed" dont_collapse="true">
        <parent link="HR_SHANK"/>
        <child link="HR_FOOT"/>
        <origin xyz="0 0 -0.20"/>
    </joint>

</robot>